*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Bowlby One SC', cursive; */
    font-family: 'Roboto Slab', serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
}
body > i{
    font-size: 30px;
    float: right;
    color: white;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.62);
    padding: 20px;
}
nav > div{
    min-height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    float: left;
    background-color: #222831;
      -webkit-box-shadow: 5px 5px 0px 0px rgba(24,29,35,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(24,29,35,1);
    box-shadow: 5px 5px 0px rgba(24,29,35,1);
    z-index: 2;
}
nav > div > div{
    width: 100%;
    display: none;
}
nav div > div > i{
    font-size: 30px;
    margin: 10px;
    float: right;
    color: whitesmoke;
}
nav ul{
    list-style-type: none;
    width: 100%;
}
nav ul li{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid whitesmoke;
}
nav ul li:hover{
    cursor: pointer;
}
nav ul li:active{
    transform: translateY(4px);
}
nav ul li:first-child{
    animation-name: moveToright;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
}
nav ul li:nth-child(2){
    animation-name: moveToright;
    animation-duration: 2s;
    animation-delay: .4s;
    animation-fill-mode: backwards;
}
nav ul li:nth-child(3){
    animation-name: moveToright;
    animation-duration: 2s;
    animation-delay: .6s;
    animation-fill-mode: backwards;
}
nav ul li:nth-child(4){
    animation-name: moveToright;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: backwards;
}
nav ul li:last-child{
    animation-name: moveToright;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul li i{
    font-size: 30px;
    width: 30px;
    color: whitesmoke;
    margin-right: 25px;;
}

nav > div > .basic-info{
    width: 90%;
    background-color: #393e46;
    margin: 10% 5%;
    padding: 15px 15px;
    color: white;
    animation-name: animateBtn;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    display: block;
}
.basic-info > h4{
    margin-bottom: 15px;
}
.basic-info > text{
    padding: 10px;
    border-bottom: 1px dotted whitesmoke;
    display: block;
    font-size: 12px;
}
.basic-info > text >i{
    margin-right: 10px;
}

/* Landing page CSS */

.home-page{
    width: 80vw;
    float: right;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: whitesmoke; 
    padding: 10%;
    background-color: #222831;
}
.home-page > img{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(24,29,35,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(24,29,35,1);
    box-shadow: 5px 5px 0px rgba(24,29,35,1);
    animation-name: animateBtn;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
.home-page > h1, p, h3{
     padding: 15px;
 }
 .home-page > h1 > span{
    color: #29a19c;
    font-weight: bolder;
    text-shadow: 5px 5px #181D23;
    font-size: 55px;
    font-family: 'Bowlby One SC', cursive;
 }
 .home-page > h1{
    animation-name: moveToleft;
    animation-duration: 2s;
 }
 .home-page > p{
    animation-name: moveToright;
    animation-duration: 2s;
    /* font-family: 'Roboto', sans-serif; */
 }
 .home-page > h3{
    animation-name: animateBtn;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
 }
 .home-page > a > i{
    font-size: 50px;
    color: #29a19c;
    margin-top: 50px;
    animation-name: animateBtn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(24,29,35,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(24,29,35,1);
    box-shadow: 10px 10px 0px 0px rgba(24,29,35,1);
    
 }
 .home-page > a> i:hover{
    font-size: 50px;
    color: #3EB69B;
    transform: translateY(4px);
}
.home-page > a> i:active{
    -webkit-box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    transform: translateY(4px);
}

/* End landing page */


/* About page CSS */
.about{
    width: 80vw;
    min-height: 100vh;
    background-color: rgba(34,40,49,0.95);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about > div{
    width: 80vw;
    display: flex;
    justify-content: center;
}
.about > div > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 28%;
    background-color: #393e46;
    color: whitesmoke;
    padding: 15px 15px;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    -moz-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
}
.about > div > div > ul{
    text-align: left;
    list-style-type: none;
}
.about li{
    padding: 10px;
}
.about i{
    font-size: 60px;
    color: #29a19c;
}
.about > h1{
    color: #29a19c;
    font-weight: bolder;
    text-shadow: 5px 5px #181D23;
    font-size: 55px;
    margin-bottom: 25px;
    font-family: 'Bowlby One SC', cursive;
}
/* END about page CSS */

/*Projects CSS*/
.projects{
    width: 80vw;
    min-height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222831;
    padding: 25px 0;
}
.projects > h1{
    color: #29a19c;
    font-weight: bolder;
    text-shadow: 5px 5px #181D23;
    font-size: 55px;
    margin-bottom: 25px;
    font-family: 'Bowlby One SC', cursive;
}
.projects > div{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.projects > div > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects > div > div >div{
    color: whitesmoke;
    background-color: #393e46;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0 5px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    -moz-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
}
.proj > img{
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.proj > div{
    max-width: 75%;
    background-size: cover;
    background-position: center;
    padding:  15px
}
.proj button{
    padding: 10px 15px;
    border: none;
    color: whitesmoke;
    background-color: #29a19c;

}
.proj button:hover{
    -webkit-box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    box-shadow: 6px 6px 0px 0px rgba(24,29,35,1);
    transform: translateY(4px);
    cursor: pointer;
    opacity: .75;
    transform: translateY(4px);
}
/*END Projects CSS*/

/*Skills CSS*/
.skills{
    width: 80vw;
    min-height: 100vh;
    background-color: rgba(34,40,49,0.95);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}
.skills > h1{
    color: #29a19c;
    font-weight: bolder;
    text-shadow: 5px 5px #181D23;
    font-size: 55px;
    margin-bottom: 25px;
    font-family: 'Bowlby One SC', cursive;
}
.skills > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skills ul{
    list-style-type: none;
    width: 25%;
    margin: 10px;
}
.skills ul li{
    background-color: #CDCACC;
    padding: 5px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(24,29,35,.5);
    -moz-box-shadow: 5px 5px 0px 0px rgba(24,29,35,.5);
    box-shadow: 5px 5px 0px 0px rgba(24,29,35,.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.skills ul li:hover{
  transform: scale(1.1);
  border: 1px solid white;
}
.skills ul li img{
   width: 30px;
   height: 30px;
   background-size: cover;
   background-position: center;
   margin-right: 15px;
}
.skills span{
    display: none;
}
/*END Skills CSS*/

/*Contact CSS*/
.contact{
    width: 80vw;
    min-height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222831;
    padding: 25px 0;
}
.contact > h1{
    color: #29a19c;
    font-weight: bolder;
    text-shadow: 5px 5px #181D23;
    font-size: 55px;
    margin-bottom: 25px;
    font-family: 'Bowlby One SC', cursive;
}
.contact > div{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #393e46;
    padding: 15px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    -moz-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
}
.contact > div > h3{
    color: white;
}
.contact > div >form{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    margin-top: 25px;
}
.contact form > input, textarea, button{
    margin: 10px;
}
.contact input{
    height: 30px;
    padding: 5px;
    outline: none;
}
.contact textarea{
    height: 100px;
    padding: 5px;
    outline: none;
}
.contact button{
    color: white;
    padding: 15px;
    border: none;
    background-color: #29a19c;
}
.contact button:hover{
    background-color:  #3EB69B;
    transform: translateY(4px);
}
.contact ul{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 30px;
    }
.contact ul li img{
   width: 30px;
   height: 30px;
   margin: 15px 5px;
   background-size: cover;
   -webkit-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    -moz-box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);
    box-shadow: 10px 10px 0px 0px rgba(24,29,35,.5);

}
.contact ul li img:hover{
    cursor: pointer;
    transform: translateY(4px);
}
footer {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
    color: whitesmoke;
    opacity: .5;
}

@keyframes moveToleft{
    0%{
        transform: translate(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveToright{
    0%{
        transform: translate(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateBtn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media only screen and (max-width: 1024px){
    nav{
        display: none;
    }
    nav > div{
        width: 60vw;
        z-index: 2;
        font-size: 12px;
    }
    nav div > div{
        display: block;
    }
    .basic-info > text{
        padding: 5px;
        font-size: 10px;
    }
    .home-page{
     width: 100%;
     justify-content: center;
    }
    .home-page > img{
        width: 100px;
        height: 100px;
    }
    .home-page > h1, p, h3{
         padding: 15px;
     }
    
     .home-page > h1 > span{
        color: #29a19c;
        font-weight: bolder;
        text-shadow: 5px 5px #181D23;
        font-size: 50px;
     }
     .home-page > a > i{
        font-size: 50px;
        margin-top: 5px;
     }

     .about{
        width: 100vw;
    }
    .about > div{
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about > div > div{
        width: 90%;
        margin: 15px 5px;
    }
    .about li{
        padding: 10px;
    }
    .about i{
        font-size: 60px;
        color: #29a19c;
    }
    .about > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .projects{
        width: 100vw;
    }
    .projects > h1{
        font-size: 45px;
    }
    .projects > div{
        width: 80%;
    }
    .projects > div > div{
        flex-direction: column;
    }
    .projects > div > div >div{
        flex-direction: column;
        margin: 10px;
        padding: 0 5px;
    }
    .proj > img{
        width: 100%;
        height: 300px;
    }
    .proj > div{
        max-width: 100%;
        padding:  25px
    }
    .skills{
        width: 100vw;
    }
    .skills > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .skills > div{
        flex-direction: column;
        width: 80%;
    }
    .skills ul{
        width: 60%;
        margin: 0;
    }
    .skills ul li{
        padding: 5px;
        width: 100%;
        margin: 10px;
    }
    .skills ul li img{
       width: 30px;
       height: 30px;
       background-size: cover;
       background-position: center;
       margin-right: 15px;
    }
    .contact{
        width: 100vw;
    }
    .contact > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .contact > div{
        width: 80%;
        padding: 15px;
    }
    .contact > div >form{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    nav > div{
        width: 60vw;
        z-index: 2;
        font-size: 12px;
    }
    nav div > div{
        display: block;
    }
    .basic-info > text{
        padding: 5px;
        font-size: 10px;
    }
    .home-page{
     width: 100%;
     justify-content: center;
    }
    .home-page > img{
        width: 100px;
        height: 100px;
    }
    .home-page > h1, p, h3{
         padding: 15px;
     }
    
     .home-page > h1 > span{
        color: #29a19c;
        font-weight: bolder;
        text-shadow: 5px 5px #181D23;
        font-size: 50px;
     }
     .home-page > a > i{
        font-size: 50px;
        margin-top: 5px;
     }

     .about{
        width: 100vw;
    }
    .about > div{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about > div > div{
        width: 90%;
        margin: 15px 5px;
    }
    .about li{
        padding: 10px;
    }
    .about i{
        font-size: 60px;
        color: #29a19c;
    }
    .about > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .projects{
        width: 100vw;
    }
    .projects > h1{
        font-size: 45px;
    }
    .projects > div{
        width: 100%;
    }
    .projects > div > div{
        flex-direction: column;
    }
    .projects > div > div >div{
        flex-direction: column;
        margin: 10px;
        padding: 0 5px;
    }
    .proj > img{
        width: 100%;
        height: 250px;
    }
    .proj > div{
        max-width: 100%;
        padding:  25px
    }
    .skills{
        width: 100vw;
    }
    .skills > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .skills > div{
        flex-direction: column;
        width: 80%;
    }
    .skills div ul:nth-child(3){
        display: none;
    }
    .skills ul{
        width: 100%;
        margin: 0;
    }
    .skills ul li{
        padding: 3px;
        width: 100%;
        margin: 10px 0;
    }
    .skills ul li img{
       width: 30px;
       height: 30px;
       background-size: cover;
       background-position: center;
       margin-right: 15px;
    }
    .skills #btnShowskills{
        display: block;
        padding: 15px;
        color: white;
        background-color: #29a19c;
    }
    .skills #btnHideskills{
        display: none;
        padding: 15px;
        color: white;
        background-color: #29a19c;
    }
    .contact{
        width: 100vw;
    }
    .contact > h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .contact > div{
        width: 90%;
        padding: 15px;
    }
    .contact > div >form{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}